<% @title = "「#{@keyword}」で自分の短歌を検索" %>

<div class = "vertical serif tanka-index text-nowrap mt-4">
  <div class="d-flex align-items-start mx-4">
    <div class="toggle-button-group rounded mb-4">
      <button class="toggle-button">
        <%= link_to '短歌', posts_search_index_path(keyword: @keyword), class: 'text-secondary' %>
      </button>
      <button class="toggle-button selected">自分の短歌</button>
      <button class="toggle-button">
        <%= link_to '歌人', users_search_index_path(keyword: @keyword), class: 'text-secondary' %>
      </button>
    </div>
    <%= paginate @posts %>
  </div>
  <%= render 'posts/posts', posts: @posts, show_avatar: true %>
  <div class="d-flex align-items-start mx-4">
    <div class="toggle-button-group rounded mb-4">
      <button class="toggle-button">
        <%= link_to '短歌', posts_search_index_path(keyword: @keyword), class: 'text-secondary' %>
      </button>
      <button class="toggle-button selected">自分の短歌</button>
      <button class="toggle-button">
        <%= link_to '歌人', users_search_index_path(keyword: @keyword), class: 'text-secondary' %>
      </button>
    </div>
    <%= paginate @posts %>
  </div>
</div>
