<% @title = '設定' %>
<% user = current_user %>

<div class="col-11 col-lg-5 mx-auto">
  <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">プロフ</a>
    </li>
    <% unless user.provider == 'twitter' %>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="mail-tab" data-bs-toggle="tab" href="#mail" role="tab" aria-controls="mail" aria-selected="false">メール</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="password-tab" data-bs-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="false">パスワード</a>
    </li>
    <% end %>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="delete-tab" data-bs-toggle="tab" href="#delete" role="tab" aria-controls="delete" aria-selected="false">退会</a>
    <li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab" data-controller="user">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="field form-group mt-3">
          <%= f.label :アイコン %><br />
          <%= image_tag user.avatar.url, class: 'mb-2 rounded' %>
          <%= f.file_field :avatar, accept: 'image/*', 'data-action': 'change->user#submit' %><br />
          <%= f.label :avatar, 'ファイル選択', class: 'btn btn-sm btn-primary' %>
        </div>
        <div class="field form-group">
          <%= f.label :ハンドルネーム %><br />
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>
        <div class="field form-group">
          <%= f.label :自己紹介 %><br />
          <%= f.text_area :profile, rows: 2, class: 'form-control' %>
        </div>
        <div class="field form-group">
          <%= f.label :Twitterアカウント %><br />
          <%= f.text_field :twitter_id, class: 'form-control' %>
          <small class="form-text text-muted">プロフィールにリンクを表示します。空欄の場合非表示となります。</small>
        </div>
        <div class="form-group actions">
          <%= f.submit "変更する", class: 'btn btn-primary', 'data-user-target': 'submit' %>
        </div>
      <% end %>
    </div>
    <% unless user.provider == 'twitter' %>
    <div class="tab-pane fade" id="mail" role="tabpanel" aria-labelledby="mail-tab">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="field form-group mt-3">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="form-group actions">
          <%= f.submit "変更する", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="field form-group mx-auto  mt-3">
          <%= f.label :パスワード（6文字以上） %><br />
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="field form-group">
          <%= f.label :パスワード（確認用） %><br />
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <div class="form-group actions">
          <%= f.submit "変更する", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    <% end %>
    <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="delete-tab">
      <div class="field form-group mx-auto  mt-3"> <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "アカウントを削除すると、投稿した短歌もすべて削除されます。本当に削除しますか？" }, method: :delete, class: 'btn btn-primary' %></div>
    </div>
  </div>
</div>
