<% @title = '新規アカウント登録' %>
<% @description = 'Utakataのアカウント登録を行えます。' %>

<div class="col-11 col-lg-5 mx-auto mb-3">
  <h5 class="mt-4 mb-3">Twitterアカウントで登録する</h5>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class="mb-3">
      <%= button_to omniauth_authorize_path(resource_name, provider), class: 'btn btn-primary', method: :post, data: { turbo: false } do %>
        <i class="bi bi-twitter text-white"></i> 登録する
      <% end %>
    </div>
  <% end -%>
  <h5 class="mt-4 mb-3">メールアドレスで登録する</h5>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form-floating mb-3">
      <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Utakata' %>
      <%= f.label :name %>
    </div>
    <div class="form-floating mb-3">
      <%= f.email_field :email, autocomplete: 'email', class: 'form-control', placeholder: 'utakatanka@gmail.com' %>
      <%= f.label :email %>
    </div>
    <div class="form-floating mb-3">
      <%= f.password_field :password, class: 'form-control', placeholder: 'password', autocomplete: 'new-password' %>
      <%= f.label :password, 'パスワード（6文字以上）' %>
    </div>
    <div class="form-floating mb-3">
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'password', autocomplete: 'new-password' %>
      <%= f.label :password_confirmation %>
    </div>
    <% if Rails.env.production? %>
      <div class="mb-3">
        <%= recaptcha_tags(noscript: false) %>
      </div>
    <% end %>
    <div class="mb-3">
      <%= f.submit "登録する", class: 'btn btn-primary' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
