<% @title = "「#{@keyword}」で歌人を検索" %>

<div class = "vertical serif tanka-index text-nowrap mt-4">
  <div class="d-flex align-items-start mx-4">
    <div class="toggle-button-group rounded mb-4">
      <button class="toggle-button">
        <%= link_to '短歌', posts_search_index_path(keyword: @keyword), class: 'text-secondary' %>
      </button>
      <button class="toggle-button">
        <%= link_to '自分の短歌', posts_my_search_index_path(keyword: @keyword), class: 'text-secondary' %>
      </button>
      <button class="toggle-button selected">歌人</button>
    </div>
    <%= paginate @users %>
  </div>
  <%= render 'users/users', users: @users, show_avatar: true %>
  <div class="d-flex align-items-start mx-4">
    <div class="toggle-button-group rounded mb-4">
      <button class="toggle-button">
        <%= link_to '短歌', posts_search_index_path(keyword: @keyword), class: 'text-secondary' %>
      </button>
      <button class="toggle-button">
        <%= link_to '自分の短歌', posts_my_search_index_path(keyword: @keyword), class: 'text-secondary' %>
      </button>
      <button class="toggle-button selected">歌人</button>
    </div>
    <%= paginate @users %>
  </div>
</div>
