<% @title = '通知' %>

<div class = "vertical serif tanka-index text-nowrap mt-4">
  <div class="mx-4">
    <%= paginate @notifications %>
  </div>
  <% @notifications.each do |notification| %>
    <div class="vertical-flex p">
      <% if notification.followable_type == 'User' %>
        <div>
          <i class="bi bi-person-fill bi-vertical"></i>
        </div>
        <div>
          <%= link_to (image_tag notification.follower.avatar.url(:small), class: 'rounded align-baseline'), user_path(notification.follower) %>
        </div>
        <div>
          <%= link_to notification.follower.name, user_path(notification.follower) %>さんにフォローされました
        </div>
        <div>
          <%= notification.created_at.strftime('%Y.%-m.%-d') %>
        </div>
      <% else %>
        <div>
          <i class="bi bi-suit-heart-fill bi-vertical"></i>
        </div>
        <div>
          <%= link_to (image_tag notification.follower.avatar.url(:small), class: 'rounded align-baseline'), user_path(notification.follower) %>
        </div>
        <div>
          <%= link_to notification.follower.name, user_path(notification.follower) %>さんがいいねしました「<%= link_to "#{notification.followable.tanka_text.slice(0, 5)}…", posts_post_followers_path(notification.followable) %>」
        </div>
        <div>
          <%= notification.created_at.strftime('%Y.%-m.%-d') %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="mx-4">
    <%= paginate @notifications %>
  </div>
</div>
