<% @title = @user.name + 'のフォロー' %>

<div class = "vertical serif tanka-index nowrap mt-3">
  <h6>
    <%= link_to @user.name, user_path(id: @user.id), method: :get %>のフォロー｜<%= link_to 'フォロワー', followers_user_path(id: @user.id), method: :get %>
  </h6>
  <%= paginate @users %>
  <% @users.each do |user| %>
    <p>
      <%= link_to (image_tag user.avatar.url(:medium), class: 'rounded'), user_path(id: user.id), method: :get, class: 'tanka-link' %>&nbsp;
      <%= link_to user.name, user_path(id: user.id), method: :get, class: 'tanka-link lg' %>
    </p>
  <% end %>
  <%= paginate @users %>
</div>
