<% @title = @user.name + 'のフォロワー' %>

<div class = "vertical serif tanka-index mt-3">
  <h6>
    <%= @user.name %>の<%= link_to 'フォロー', follow_user_path(id: @user.id), method: :get %>｜フォロワー
  </h6>
  <% @users.each do |user| %>
    <p>
      <%= link_to (image_tag user.avatar.url(:medium), align: 'center'), user_path(id: user.id), method: :get, class: 'tanka-link' %>&nbsp;
      <%= link_to user.name, user_path(id: user.id), method: :get, class: 'tanka-link tanka-show' %>
    </p>
  <% end %>
  <%= paginate @users %>
</div>
