<% @title = '通知' %>

<div class = "vertical serif tanka-index text-nowrap mt-3">
  <%= paginate @notifications %>
  <% @notifications.each do |notification| %>
    <div class="vertical-flex p">
      <% if notification.followable_type == 'User' %>
        <div>
          <i class="bi bi-person-fill bi-vertical"></i>
        </div>
        <div>
          <%= link_to (image_tag notification.follower.avatar.url(:small), class: 'rounded align-baseline'), user_path(id: notification.follower.id) %>
        </div>
        <div>
          <%= link_to notification.follower.name, user_path(id: notification.follower.id) %>さんにフォローされました
        </div>
        <div>
          <%= notification.created_at.strftime('%Y.%-m.%-d') %>
        </div>
      <% else %>
        <div>
          <i class="bi bi-suit-heart-fill bi-vertical"></i>
        </div>
        <div>
          <%= link_to (image_tag notification.follower.avatar.url(:small), class: 'rounded align-baseline'), user_path(id: notification.follower.id) %>
        </div>
        <div>
          <%= link_to notification.follower.name, user_path(id: notification.follower.id) %>さんがいいねしました「<%= link_to (ApplicationController.helpers.strip_tags(notification.followable.tanka).slice(0, 5) + '…'), followers_post_path(id: notification.followable.id) %>」
        </div>
        <div>
          <%= notification.created_at.strftime('%Y.%-m.%-d') %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= paginate @notifications %>
</div>
