<% @title = '通知' %>

<div class = "vertical serif tanka-index mt-3">
  <% @notifications.each do |notification| %>
    <p>
      <% if notification.followable_type == 'User' %> 
        <i class="person fas fa-user middle"></i>
        <% user = User.find(notification.follower_id) %>
        <%= link_to (image_tag user.avatar.url(:small)), user_path(id: user.id), method: :get %>
        <%= link_to user.name, user_path(id: user.id), method: :get, class: 'middle' %><span class="middle">さんにフォローされました</span>
        <span class="middle"><%= notification.created_at.strftime('%Y.%-m.%-d') %></span>
      <% else %>
        <i class="hearts fas fa-heart middle"></i>
        <% user = User.find(notification.follower_id) %>
        <%= link_to (image_tag user.avatar.url(:small)), user_path(id: user.id), method: :get %>
        <% post = Post.find(notification.followable_id) %>
        <%= link_to user.name, user_path(id: user.id), method: :get, class: 'middle' %><span class="middle">さんがいいねしました「<%= link_to (post.tanka.slice(0, 5) + '…'), post_path(id: post.id), method: :get %>」</span>
        <span class="middle"><%= notification.created_at.strftime('%Y.%-m.%-d') %></span>
      <% end %>
    </p>
  <% end %>
  <%= paginate @notifications %>
</div>
