<% @title = '歌人検索' %>

<div class = "vertical serif tanka-index mt-3">
  <h6>
    「<%= @search %>」で検索：<%= link_to '短歌', search_posts_path(search: @search), method: :get %>｜<!--
    --><% if user_signed_in? %><!--
      --><%= link_to '自分の短歌', my_search_posts_path(search: @search), method: :get %>｜<!--
    --><% end %><!--
    -->歌人
  </h6>
  <%= paginate @users %>
  <% @users.each do |user| %>
    <p>
      <%= link_to (image_tag user.avatar.url(:medium), class: 'rounded'), user_path(id: user.id), method: :get, class: 'tanka-link' %>&nbsp;
      <%= link_to user.name, user_path(id: user.id), method: :get, class: 'tanka-link lg' %>
    </p>
  <% end %>
  <%= paginate @users %>
</div>
