<% @title = @user.name + 'の短歌' %>
<% @description = @user.name + 'の投稿短歌一覧。' %>
<% @image_url = @user.avatar.url(:original) %>

<div class = "vertical serif mt-3 tanka-index">
  <div class="me-3 text-nowrap mb-6">
    <%= image_tag @user.avatar.url(:original), class: 'rounded' %>&nbsp;
    <span class="lg align-middle"><%= @user.name %></span>&nbsp;
    <% if @user.twitter_id.present? %>
      <a href="<%= 'https://twitter.com/' + @user.twitter_id %>" target="_blank"><i class="align-text-bottom lg bi bi-twitter"></i></a>&nbsp;
    <% end %>
    <% if user_signed_in? && current_user != @user %>
      <% if current_user.following?(@user) %>
       <%= link_to 'リムーブ', relationship_path(id: @user.id), class: 'btn btn-sm btn-primary horizontal align-middle', data: { turbo_method: :delete } %>&nbsp;
      <% else %>
        <%= link_to 'フォロー', relationships_path(follow: @user.id), class: 'btn btn-sm btn-primary horizontal align-middle', data: { turbo_method: :post } %>&nbsp;
      <% end %>
    <% end %>
    <%= link_to 'フォロー', followees_user_path(id: @user.id), method: :get, class: 'align-middle horizontal sm tanka-link' %>
    <%= link_to @user.following_by_type_count('User'), followees_user_path(id: @user.id), method: :get, class: 'align-middle horizontal' %>
    <%= link_to 'フォロワー', followers_user_path(id: @user.id), method: :get, class: 'align-middle horizontal sm tanka-link' %>
    <%= link_to @user.followings.length, followers_user_path(id: @user.id), method: :get, class: 'align-middle horizontal' %>
    <span class="align-middle horizontal sm">投稿数</span>
    <span class="align-middle horizontal"><%= @count %></span>
  </div>
  <% if @user.profile.present? %>
    <div class="border-primary rounded me-3 h-88vh">
      <%= simple_format raw(Rinku.auto_link(h(@user.profile), :all, 'target="_blank"')), class: 'sm p-3 me-0 ms-0' %>
    </div>
  <% end %>
  <%= paginate @posts %>
  <div class="text-nowrap">
    <%= render 'posts/posts', posts: @posts, show_avatar: false %>
  </div>
  <%= paginate @posts %>
</div>
