<% @title = @user.name + 'の短歌' %>
<% @description = @user.name + 'の投稿短歌。' %>
<% @image_url = @user.avatar.url(:original) %>

<div class = "vertical serif mt-3 tanka-index">
  <div class="me-3 text-nowrap mb-6">
    <%= image_tag @user.avatar.url(:original), class: 'rounded' %>&nbsp;
    <span class="lg align-middle"><%= @user.name %></span>&nbsp;
    <% if @user.twitter_id.present? %>
      <a href="<%= 'https://twitter.com/' + @user.twitter_id %>" target="_blank"><i class="align-text-bottom lg bi bi-twitter"></i></a>&nbsp;
    <% end %>
    <% if user_signed_in? && current_user != @user %>
      <% if current_user.following?(@user) %>
        <%= render 'relationships/unfollow', user: @user %>
      <% else %>
        <%= render 'relationships/follow', user: @user %>
      <% end %>
    <% end %>
    <%= render 'relationships/followers_count', user: @user %>
    <span class="align-middle horizontal sm">投稿数</span>
    <span class="align-middle horizontal"><%= @count %></span>
  </div>
  <% if @user.profile.present? %>
    <div class="border-primary rounded me-3 h-88vh">
      <%= simple_format raw(Rinku.auto_link(h(@user.profile), :all, 'target="_blank"')), class: 'sm p-3 me-0 ms-0' %>
    </div>
  <% end %>
  <%= paginate @posts %>
  <div class="text-nowrap">
    <%= render 'posts/posts', posts: @posts, show_avatar: false %>
  </div>
  <%= paginate @posts %>
</div>
