<% @title = "#{@user.name}の短歌" %>
<% @description = "#{@user.name}の投稿短歌。" %>
<% @image_url = @user.avatar.url(:original) %>

<div class = "vertical serif mt-4 tanka-index text-nowrap">
  <div class="mx-4 vertical-flex">
    <div>
      <%= image_tag @user.avatar.url(:original), class: 'rounded' %>
    </div>
    <div class="lg">
      <%= @user.name %>
    </div>
    <% if @user.twitter_id.present? %>
      <div>
        <a href="<%= "https://x.com/#{@user.twitter_id}" %>" target="_blank" rel="noopener noreferrer">
          <i class="lg bi bi-twitter bi-vertical"></i>
        </a>
      </div>
    <% end %>
    <% if current_user && current_user.id != @user.id %>
      <% if current_user.following?(@user) %>
        <%= render 'relationships/unfollow', user: @user %>
      <% else %>
        <%= render 'relationships/follow', user: @user %>
      <% end %>
    <% end %>
    <div class="horizontal sm">
      <%= link_to 'フォロー', users_user_followees_path(@user), class: 'tanka-link' %>
    </div>
    <div class="horizontal">
      <%= link_to @user.following_by_type_count('User'), users_user_followees_path(@user) %>
    </div>
    <div class="horizontal sm">
      <%= link_to 'フォロワー', users_user_followers_path(@user), class: 'tanka-link' %>
    </div>
    <%= render 'relationships/followers_count', user: @user %>
    <div class="horizontal sm">
      投稿数
    </div>
    <div  class="horizontal">
      <%= @posts_count %>
    </div>
  </div>
  <% if @user.profile.present? %>
    <div class="border-primary rounded mx-4 h-88vh text-wrap text-break">
      <%= simple_format raw(Rinku.auto_link(html_escape(@user.profile), :all, 'target="_blank" rel="noopener noreferrer"')), { class: 'sm p-3 m-0' }, sanitize: false %>
    </div>
  <% end %>
  <div class="mx-4">
    <%= paginate @posts %>
  </div>
  <%= render 'posts/posts', posts: @posts, show_avatar: false %>
  <div class="mx-4">
    <%= paginate @posts %>
  </div>
</div>
