<div class="vertical serif tanka-index text-nowrap mt-4">
  <ul class="nav nav-tabs vertical-tab">
    <li class="nav-item">
      <%= link_to '新しい歌', posts_path, class: 'nav-link vertical-tab text-secondary' %>
    </li>
    <li class="nav-item">
      <a class="nav-link active vertical-tab">人気の歌</a>
    </li>
    <% unless current_user %>
      <li class="nav-item">
        <%= link_to 'サイトのご案内', about_index_path, class: 'nav-link vertical-tab text-secondary' %>
      </li>
    <% end %>
     <%= paginate @posts %>
  </ul>
  <%= render 'posts/posts', posts: @posts, show_avatar: true %>
  <%= paginate @posts %>
</div>
