<div class="vertical-flex p">
  <div>
    <%= link_to post.tanka.html_safe, post_path(post), class: 'tanka-link' %>
  </div>
  <% if current_user && current_user.id != post.user_id %>
    <% if post.followings.any? { |following| following.follower_id == current_user.id } %>
      <%= render 'favorites/unlike', post: post, size: 'sm' %>
    <% else %>
      <%= render 'favorites/like', post: post, size: 'sm' %>
    <% end %>
  <% else %>
    <div>
      <i class="sm bi bi-suit-heart-fill bi-vertical"></i>
    </div>
  <% end %>
  <%= render 'favorites/favorites_count', post: post, size: 'sm' %>
  <% if show_avatar %>
    <div>
      <%= link_to (image_tag post.user.avatar.url(:small), class: 'rounded align-baseline'), user_path(post.user) %>
    </div>
  <% end %>
</div>
