<% @title = "#{9829.chr("UTF-8")}#{ApplicationController.helpers.strip_tags(@post.tanka)}" %>

<div class = "vertical serif tanka-index text-nowrap mt-3">
  <%= render 'posts/post', post: @post, show_avatar: true %>
  <%= paginate @users %>
  <% @users.each do |user| %>
    <p>
      <%= link_to (image_tag user.avatar.url(:medium), class: 'rounded'), user_path(id: user.id), method: :get, class: 'tanka-link' %>&nbsp;
      <%= link_to user.name, user_path(id: user.id), method: :get, class: 'tanka-link lg' %>
    </p>
  <% end %>
  <%= paginate @users %>
</div>
