<% @title = @user.name + 'の短歌' %>

<div class = "vertical serif tanka-index mt-3">
  <div class="margin-right">
    <%= image_tag @user.avatar.url(:original), align: 'center' %>&nbsp;
    <span class="tanka-show"><%= @user.name %></span>&nbsp;
    <%= @user.profile %>
  </div>
  <% @posts.each do |post| %>
    <p><%= link_to post.tanka, post_path(id: post.id), method: :get, class: 'tanka-link' %></p>
  <% end %>
  <%= paginate @posts %>
</div>
