<% @title = '新しい歌' %>
<% @description = '新着短歌の一覧です。' %>

<div class="vertical serif tanka-index text-nowrap mt-3">
  <ul class="nav nav-tabs vertical-tab">
    <li class="nav-item">
      <a class="nav-link active vertical-tab">新しい歌</a>
    </li>
    <li class="nav-item">
      <%= link_to '人気の歌', root_path, method: :get, class: 'nav-link vertical-tab text-secondary' %>
    </li>
    <% unless user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'サイトのご案内', infos_path, method: :get, class: 'nav-link vertical-tab text-secondary' %>
      </li>
    <% end %>
  </ul>
  <%= paginate @posts %>
  <%= render 'posts/posts', posts: @posts, show_avatar: true %>
  <%= paginate @posts %>
</div>
