<% @title = '短歌投稿' %>

<%= render 'layouts/error_messages', resource: @post %>

<div data-controller="post">
  <%= form_for(@post, url: { controller: :posts, action: :create }) do |f| %>
    <div class="form-group mx-auto col-md-4 mt-3">
      <ul class="sm">
        <li class="description">ルビの振り方：ルビを振りたい文字列を選択して、右下に現れる「ルビ」ボタンをタップし、&lt;rt&gt;〜&lt;/rt&gt;の  間にルビを入力してください。<%= link_to '→Help', infos_path %></li>
      </ul>
      <%= f.text_area :tanka, rows: 3, autofocus: true, class: 'form-control', id: 'input', 'data-target': 'post.input', 'data-action': 'keyup->post#previewPost' %>
    </div>
    <div class="form-group mx-auto col-md-4">
      <%= f.submit "投稿する", class: 'btn btn-primary' %>
      <button type="button" class="btn btn-primary" data-action="click->post#space">全角スペース</button>
    </div>
  <% end %>
  <div class="vertical serif mx-auto width0" data-target="post.preview"></div>
</div>

<script type="text/javascript">
$(function(){
  const t = new TagHelper()
  t.decorate($('#input'))
})
</script>
