<% @title = '短歌検索（自分）' %>

<div class = "vertical serif tanka-index mt-3">
  <h6>
    <%= search_word(@search) %>：<%= link_to '全体', search_posts_path(search: @search), method: :get %>｜自分｜<%= link_to '歌人', search_users_path(search: @search), method: :get %>
  </h6>
  <% @posts.each do |post| %>
    <p>
      <%= link_to post.tanka, post_path(id: post.id), method: :get, class: 'tanka-link' %>&nbsp;
      <i class="hearts fas fa-heart"></i><span class="sm horizontal hearts"><%= post.followers_by_type_count('User') %></span>
    </p>
  <% end %>
  <%= paginate @posts %>
</div>
