<% tanka = ApplicationController.helpers.strip_tags(@post.tanka) %>
<% @title = tanka + '／' + @user.name %>
<% @description = @user.name + 'の短歌：' + tanka %>

<div class="mt-3 vertical serif mx-auto height-110">
  <%= link_to (image_tag @user.avatar.url(:medium), align: 'center'), user_path(id: @user.id), method: :get, class: 'middle tanka-link' %>&nbsp;
  <%= link_to @user.name, user_path(id: @user.id), method: :get, class: 'middle lg tanka-link' %>&nbsp;
  <span class="middle"><%= @post.created_at.strftime('%Y.%-m.%-d') %></span>&nbsp;
  <% twitter_user = URI.escape(@user.name) %>
  <% twitter_tanka = URI.escape(tanka) %>
  <a href="<%= 'https://twitter.com/share?url=' + url_for(only_path: false) + '&text=' + twitter_tanka + '%0a／' + twitter_user + '%0a' %>" target="_blank"><i class="middle lg fab fa-twitter"></i></a>&nbsp;
  <% if user_signed_in? && current_user.id != @post.user_id %>
    <%= render 'favorites/favorites', post: @post, size: 'lg' %>
  <% else %>
    <i class="middle hearts lg fas fa-heart"></i><%= link_to @post.followers_by_type_count('User'), followers_post_path(id: @post.id), method: :get, class: 'middle horizontal hearts lg' %>
  <% end %>
  <% if @user == current_user %>
    <%= link_to '編集', edit_post_path(id: @post.id), method: :get, class: 'middle' %>&nbsp;
    <%= link_to '削除', @tanka, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'middle' %>
  <% end %>
  <p class="lg"><%= @post.tanka.html_safe %></p>
</div>
