<% @title = 'サイトのご案内' %>
<% @description = 'Utakataの概要・使い方・連絡先・更新履歴など。' %>

<div class="col-11 col-lg-5 mx-auto mb-5">
  <h4 class="mt-4">サイトのご案内</h4>
  <h5 class="mt-4">Utakataとは？</h5>
  <p>短歌を投稿・共有できるサイトです。<%= link_to 'アカウント登録', new_user_registration_path %>してご利用ください。全機能を無料でご利用いただけます。</p>
  <h5 class="mt-4">寄付のお願い</h5>
  <p><a href="https://buy.stripe.com/cN25meehQb2jaQgaEE" target="_blank">こちらの寄付画面</a>から500円単位で数量を指定してUtakataに寄付いただけます。寄付のお願いについて詳しくは<%= link_to 'こちら', donations_path %>のページに記載しています。</p>
  <h5 id="misspelling" class="mt-4">アカウント登録時の注意点</h5>
  <p>メールアドレスにスペルミスがあると、確認用メールが届かずアカウント登録できないのでご注意ください。確認用メールが届かない場合は、もう一度正しいメールアドレスで<%= link_to 'アカウント登録', new_user_registration_path %>を行ってください。</p>
  <h5 class="mt-4">利用規約・プライバシーポリシー</h5>
  <ul class="ml">
    <li><%= link_to '利用規約', terms_path %></li>
    <li><%= link_to 'プライバシーポリシー', privacy_index_path %></li>
  </ul>
  <h4 class="mt-4">Utakataの使い方</h4>
  <h5 id="ruby" class="mt-4">ルビの振り方</h5>
  <p>短歌投稿フォームでルビを振りたい文字を範囲選択して、「ルビ」ボタンを押すと、ルビ用のHTMLタグが挿入されます。カーソルが自動で&lt;rt&gt;〜&lt;/rt&gt;の間にセットされるので、そのままルビを入力してください。</p>
  <p><b>例</b></br>入力：&lt;ruby&gt;漢字&lt;rt&gt;ルビ&lt;/rt&gt;&lt;/ruby&gt;</br>表示：<ruby>漢字<rp>（</rp><rt>ルビ</rt><rp>）</rp></ruby></p>
  <p>※ &lt;rp&gt;タグは内部的に自動で補完されるので入力不要です。</p>
  <h5 class="mt-4">短歌の編集</h5>
  <p>個別短歌のページ（短歌の本文を押すと表示されるページ）から鉛筆アイコンを押すと、短歌の編集ができます。短歌本文の修正や、投稿日時の変更を行えます。</p>
  <h5 class="mt-4">Twitterに短歌をシェアする方法</h5>
  <p>個別短歌のページで、作者名の下にあるTwitterアイコンを押すと、Twitterに短歌をシェアすることができます。</p>
  <h5 class="mt-4">短歌にいいねした人の一覧を見る方法</h5>
  <p>個別投稿のページで、ハートの下の数字を押すと、短歌にいいねした人の一覧を見ることができます。</p>
  <h5 class="mt-4">検索フォームで何も文字を打たずに検索すると…</h5>
  <p>歌人の一覧が表示されます。</p>
  <h5 class="mt-4">左上のUtakataロゴを押すと…</h5>
  <p>新着短歌の一覧が表示されます。</p>
  <h4 id="contacts" class="mt-4">連絡先</h4>
  <p class="mt-4">不具合の報告や疑問点のお問い合わせ、その他感想など、お気軽にご連絡ください。</p>
  <ul class="ml">
    <li>Email：<a href="mailto:utakatanka@gmail.com" target="_blank">utakatanka@gmail.com</a></li>
    <li>Twitter：<a href="https://x.com/utakatanka" target="_blank">@utakatanka</a></li>
    <li>管理人のTwitter：<a href="https://x.com/fuyu77" target="_blank">@fuyu77</a></li>
  </ul>
  <h4 class="mt-4">更新履歴</h4>
  <dl class="mt-4">
    <dt><time>2026/05/03</time></dt>
    <dd>
      <ul class="ml">
        <li>歌人アイコン画像が鮮明に表示されるように変更</li>
      </ul>
    </dd>
    <dt><time>2026/04/26</time></dt>
    <dd>
      <ul class="ml">
        <li>同じ歌人から複数いいねされる場合がある問題を解消</li>
      </ul>
    </dd>
    <dt><time>2026/04/25</time></dt>
    <dd>
      <ul class="ml">
        <li>「人気の歌」の掲載方法を変更</li>
      </ul>
    </dd>
    <dt><time>2024/03/03</time></dt>
    <dd>
      <ul class="ml">
        <li>「データ管理」メニューを追加</li>
        <li>「データ管理」メニューに投稿短歌のCSVダウンロード機能を追加</li>
      </ul>
    </dd>
    <dt><time>2024/02/05</time></dt>
    <dd>
      <ul class="ml">
        <li>「Twitter連携ログインからメールアドレスログインへの移行のお願い」を削除</li>
      </ul>
    </dd>
    <dt><time>2023/05/21</time></dt>
    <dd>
      <ul class="ml">
        <li>Twitter連携ログインを廃止</li>
      </ul>
    </dd>
    <dt><time>2023/04/30</time></dt>
    <dd>
      <ul class="ml">
        <li>「Twitter連携ログインからメールアドレスログインへの移行のお願い」を掲載</li>
      </ul>
    </dd>
    <dt><time>2023/04/29</time></dt>
    <dd>
      <ul class="ml">
        <li>Twitter連携によるアカウント登録を廃止</li>
      </ul>
    </dd>
    <dt><time>2022/11/04</time></dt>
    <dd>
      <ul class="ml">
        <li>アカウント登録時のメールアドレスの確認を再開</li>
        <li>アカウント登録時にreCAPTCHAによる「私はロボットではありません」のチェックを追加</li>
      </ul>
    </dd>
    <dt><time>2021/07/10</time></dt>
    <dd>
      <ul class="ml">
        <li>Utakataに寄付する機能を追加</li>
      </ul>
    </dd>
    <dt><time>2021/06/01</time></dt>
    <dd>
      <ul class="ml">
        <li>広告を廃止</li>
      </ul>
    </dd>
    <dt><time>2021/05/16</time></dt>
    <dd>
      <ul class="ml">
        <li>1日10首の投稿制限を追加</li>
      </ul>
    </dd>
    <dt><time>2020/12/10</time></dt>
    <dd>
      <ul class="ml">
        <li>広告を導入</li>
      </ul>
    </dd>
    <dt><time>2020/11/28</time></dt>
    <dd>
      <ul class="ml">
        <li>アカウント登録時のメールアドレス確認を廃止</li>
      </ul>
    </dd>
    <dt><time>2020/05/30</time></dt>
    <dd>
      <ul class="ml">
        <li>自己紹介にURLが含まれる場合にリンクに変換するように変更</li>
        <li>自己紹介の改行を表示に反映するように変更</li>
      </ul>
    </dd>
    <dt><time>2019/11/10</time></dt>
    <dd>
      <ul class="ml">
        <li>クラウドファンディングの案内を削除</li>
      </ul>
    </dd>
    <dt><time>2019/08/06</time></dt>
    <dd>
      <ul class="ml">
        <li>クラウドファンディングの案内を掲載</li>
      </ul>
    </dd>
    <dt><time>2019/07/13</time></dt>
    <dd>
      <ul class="ml">
        <li>「人気の歌」の掲載方法を変更</li>
      </ul>
    </dd>
    <dt><time>2019/03/21</time></dt>
    <dd>
      <ul class="ml">
        <li>利用規約とプライバシーポリシーを作成</li>
      </ul>
    </dd>
    <dt><time>2019/03/09</time></dt>
    <dd>
      <ul class="ml">
        <li>アイコンを角丸に変更</li>
      </ul>
    </dd>
    <dt><time>2019/01/05</time></dt>
    <dd>
      <ul class="ml">
        <li>編集画面での投稿日時の変更に対応</li>
        <li>投稿時刻を表示するように変更</li>
        <li>投稿日付の表示にUTC（協定世界時）が使われていた問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/12/04</time></dt>
    <dd>
      <ul class="ml">
        <li>ハンドルネームとプロフィールの字数制限を緩和</li>
      </ul>
    </dd>
    <dt><time>2018/11/26</time></dt>
    <dd>
      <ul class="ml">
        <li>縦中横に対応</li>
        <li>検索フォームで何も文字をたずに検索した場合に歌人の一覧が表示されるように変更</li>
        <li>短歌を投稿した後に「タイムライン」ではなく「新しい歌」を表示するように変更</li>
      </ul>
    </dd>
    <dt><time>2018/11/23</time></dt>
    <dd>
      <ul class="ml">
        <li>投稿画面で「ルビ」ボタンを押した際に挿入されるルビタグの表示を簡略化</li>
        <li>投稿フォームで予測変換した際にプレビューに反映されない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/11/21</time></dt>
    <dd>
      <ul class="ml">
        <li>短歌編集画面を開いた際に初期状態でプレビューが表示されない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/11/20</time></dt>
    <dd>
      <ul class="ml">
        <li>短歌の字数制限を緩和</li>
      </ul>
    </dd>
    <dt><time>2018/11/19</time></dt>
    <dd>
      <ul class="ml">
        <li>投稿画面のプレビューで任意のHTMLタグ装飾ができてしまう問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/11/18</time></dt>
    <dd>
      <ul class="ml">
        <li>「全角スペース」ボタンを押した際にプレビューが更新されない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/11/07</time></dt>
    <dd>
      <ul class="ml">
        <li>短歌の字数制限を緩和</li>
      </ul>
    </dd>
    <dt><time>2018/11/03</time></dt>
    <dd>
      <ul class="ml">
        <li>ドロップダウンメニューから「新しい歌」と「人気の歌」を削除</li>
      </ul>
    </dd>
    <dt><time>2018/10/30</time></dt>
    <dd>
      <ul class="ml">
        <li>特殊記号を含む短歌をTwitterシェアできない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/10/08</time></dt>
    <dd>
      <ul class="ml">
        <li>Twitterログイン機能を追加</li>
      </ul>
    </dd>
    <dt><time>2018/09/27</time></dt>
    <dd>
      <ul class="ml">
        <li>通知画面でいいねされた短歌を押した場合にいいねした人の一覧ページを表示するように変更</li>
      </ul>
    </dd>
    <dt><time>2018/09/13</time></dt>
    <dd>
      <ul class="ml">
        <li>Twitterシェア機能でハッシュタグ記号が表示されない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/08/12</time></dt>
    <dd>
      <ul class="ml">
        <li>SNSにトップページまたは歌人ページをシェアした際にサムネイル画像が表示されるように変更</li>
      </ul>
    </dd>
    <dt><time>2018/07/31</time></dt>
    <dd>
      <ul class="ml">
        <li>Twitterシェア機能でセミコロンが表示されない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/07/13</time></dt>
    <dd>
      <ul class="ml">
        <li>投稿した短歌を編集する機能を追加</li>
        <li>歌人ページに短歌の投稿数を確認できる表示を追加</li>
        <li>プロフィールの字数制限を緩和</li>
      </ul>
    </dd>
    <dt><time>2018/06/26</time></dt>
    <dd>
      <ul class="ml">
        <li>ルビ以外の装飾ができてしまう問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/06/23</time></dt>
    <dd>
      <ul class="ml">
        <li>サービスリリース</li>
      </ul>
    </dd>
  </dl>
</div>
