<% @title = 'サイトのご案内' %>
<% @description = 'Utakataの概要・使い方・連絡先・更新履歴など。' %>

<div class="col-11 col-lg-5 mx-auto mb-3">
  <h4 class="mt-4">サイトのご案内</h4>
  <h5 class="mt-4">Utakataとは？</h5>
  <p>短歌を投稿・共有できるサイトです。<%= link_to 'アカウント登録', new_user_registration_path %>してご利用ください。全機能を無料でご利用いただけます。</p>
  <h5 class="mt-4">寄付のお願い</h5>
  <p><a href="https://buy.stripe.com/cN25meehQb2jaQgaEE" target="_blank">こちらの寄付画面</a>から500円単位で数量を指定してUtakataに寄付いただけます。寄付のお願いについて詳しくは<%= link_to 'こちら', donations_path %>のページに記載しています。</p>
  <h5 id="misspelling" class="mt-4">アカウント登録時の注意点</h5>
  <p>メールアドレスにスペルミスがあると、確認用メールが届かずアカウント登録できないのでご注意ください。確認用メールが届かない場合は、もう一度正しいメールアドレスで<%= link_to 'アカウント登録', new_user_registration_path %>を行ってください。</p>
  <h5 class="mt-4">利用規約・プライバシーポリシー</h5>
  <ul class="ml">
    <li><%= link_to '利用規約', terms_path %></li>
    <li><%= link_to 'プライバシーポリシー', privacy_index_path %></li>
  </ul>
  <h4 class="mt-4">Utakataの使い方</h4>
  <h5 id="ruby" class="mt-4">ルビの振り方</h5>
  <p>短歌投稿フォームでルビを振りたい文字を範囲選択して、「ルビ」ボタンをタップすると、ルビ用のHTMLタグが挿入されます。カーソルが自動で&lt;rt&gt;〜&lt;/rt&gt;の間にセットされるので、そのままルビを入力してください。</p>
  <p><b>例</b></br>入力：&lt;ruby&gt;漢字&lt;rt&gt;ルビ&lt;/rt&gt;&lt;/ruby&gt;</br>表示：<ruby>漢字<rp>（</rp><rt>ルビ</rt><rp>）</rp></ruby></p>
  <p>※ &lt;rp&gt;タグは内部的に自動で補完されるので入力不要です。</p>
  <h5 class="mt-4">短歌の編集</h5>
  <p>個別短歌のページ（短歌の本文をタップすると表示されるページ）から「編集」をタップすると、短歌の編集ができます。短歌本文の修正や、投稿日時の変更を行えます。</p>
  <h5 class="mt-4">Twitterに短歌をシェアする方法</h5>
  <p>個別短歌のページで、作者名の下にあるTwitterアイコンをタップすると、Twitterに短歌をシェアすることができます。</p>
  <h5 class="mt-4">短歌にいいねした人の一覧を見る方法</h5>
  <p>個別投稿のページで、ハートの下の数字をタップすると、短歌にいいねした人の一覧を見ることができます。</p>
  <h5 class="mt-4">検索フォームで何も文字を打たずに検索すると…</h5>
  <p>歌人の一覧が表示されます。</p>
  <h5 class="mt-4">左上のUtakataロゴをタップすると…</h5>
  <p>新着短歌の一覧が表示されます。</p>
  <h4 id="contacts" class="mt-4">連絡先</h4>
  <p class="mt-3">不具合の報告や疑問点のお問い合わせ、その他感想など、お気軽にご連絡ください。</p>
  <ul class="ml">
    <li>Email：<a href="mailto:utakatanka@gmail.com" target="_blank">utakatanka@gmail.com</a></li>
    <li>Twitter：<a href="https://x.com/utakatanka" target="_blank">@utakatanka</a></li>
    <li>管理人のTwitter：<a href="https://x.com/fuyu77" target="_blank">@fuyu77</a></li>
  </ul>
  <h4 class="mt-4">更新履歴</h4>
  <dl class="mt-3">
    <dt><time>2024/07/28</time></dt>
    <dd>
      <ul class="ml">
        <li>Android環境でXへの短歌のシェアが機能しない不具合を解消</li>
      </ul>
    </dd>
    <dt><time>2024/05/02</time></dt>
    <dd>
      <ul class="ml">
        <li>投稿フォームの文言を調整</li>
        <li>「寄付のお願い」の文言を調整</li>
      </ul>
    </dd>
    <dt><time>2024/03/03</time></dt>
    <dd>
      <ul class="ml">
        <li>「データ管理」メニューを追加</li>
        <li>「データ管理」メニューに投稿短歌のCSVデータダウンロード機能を追加</li>
      </ul>
    </dd>
    <dt><time>2024/02/05</time></dt>
    <dd>
      <ul class="ml">
        <li>「Twitter連携ログインからメールアドレスログインへの移行のお願い」を削除</li>
      </ul>
    </dd>
    <dt><time>2023/05/21</time></dt>
    <dd>
      <ul class="ml">
        <li>Twitter連携ログインボタンを廃止</li>
      </ul>
    </dd>
    <dt><time>2023/04/30</time></dt>
    <dd>
      <ul class="ml">
        <li>「Twitter連携ログインからメールアドレスログインへの移行のお願い」を追加</li>
      </ul>
    </dd>
    <dt><time>2023/04/29</time></dt>
    <dd>
      <ul class="ml">
        <li>Twitter連携によるアカウント登録を廃止</li>
      </ul>
    </dd>
    <dt><time>2023/04/08</time></dt>
    <dd>
      <ul class="ml">
        <li>歌人プロフィールに含まれるリンクを別タブで開くように変更</li>
      </ul>
    </dd>
    <dt><time>2023/02/21</time></dt>
    <dd>
      <ul class="ml">
        <li>ユーザーページをシェアした際にデフォルトユーザー画像がサムネイル表示されない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2023/02/10</time></dt>
    <dd>
      <ul class="ml">
        <li>サイトのパフォーマンスを改善</li>
      </ul>
    </dd>
    <dt><time>2022/12/28</time></dt>
    <dd>
      <ul class="ml">
        <li>「寄付のお願い」の文言を調整</li>
      </ul>
    </dd>
    <dt><time>2022/11/14</time></dt>
    <dd>
      <ul class="ml">
        <li>SNSシェア時の表示の不具合を解消</li>
      </ul>
    </dd>
    <dt><time>2022/11/07</time></dt>
    <dd>
      <ul class="ml">
        <li>1日10首の投稿制限が機能していなかった不具合を解消</li>
      </ul>
    </dd>
    <dt><time>2022/11/04</time></dt>
    <dd>
      <ul class="ml">
        <li>アカウント登録時のメールアドレスの認証を再開</li>
        <li>アカウント登録時にreCAPTCHAによる「私はロボットではありません」のチェックを追加</li>
        <li>レイアウトを調整</li>
      </ul>
    </dd>
    <dt><time>2022/11/03</time></dt>
    <dd>
      <ul class="ml">
        <li>URLの設計を変更</li>
        <li>ログアウト時の検索画面で「自分の短歌」タブを表示しないように変更</li>
        <li>タブのスタイルを調整</li>
      </ul>
    </dd>
    <dt><time>2022/10/29</time></dt>
    <dd>
      <ul class="ml">
        <li>レイアウトを調整</li>
      </ul>
    </dd>
    <dt><time>2022/10/25</time></dt>
    <dd>
      <ul class="ml">
        <li>短歌投稿エラー時にフォームの入力内容をリセットしないように変更</li>
      </ul>
    </dd>
    <dt><time>2022/10/23</time></dt>
    <dd>
      <ul class="ml">
        <li>短歌編集ページのタイトルを調整</li>
      </ul>
    </dd>
    <dt><time>2022/10/16</time></dt>
    <dd>
      <ul class="ml">
        <li>縦中横が反映されない不具合を解消</li>
      </ul>
    </dd>
    <dt><time>2022/10/15</time></dt>
    <dd>
      <ul class="ml">
        <li>サイトのパフォーマンスを改善</li>
      </ul>
    </dd>
    <dt><time>2022/09/25</time></dt>
    <dd>
      <ul class="ml">
        <li>サイトのパフォーマンスを改善</li>
      </ul>
    </dd>
    <dt><time>2022/06/05</time></dt>
    <dd>
      <ul class="ml">
        <li>サイトのパフォーマンスを改善</li>
      </ul>
    </dd>
    <dt><time>2022/03/20</time></dt>
    <dd>
      <ul class="ml">
        <li>アカウント周りの機能でメッセージが一部表示されない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2022/03/12</time></dt>
    <dd>
      <ul class="ml">
        <li>アカウント登録画面の不具合を解消</li>
        <li>サイトのパフォーマンスを改善</li>
      </ul>
    </dd>
    <dt><time>2022/03/01</time></dt>
    <dd>
      <ul class="ml">
        <li>いいねした歌人の一覧画面に遷移できない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2022/02/27</time></dt>
    <dd>
      <ul class="ml">
        <li>短歌削除後にマイページに遷移するように変更</li>
        <li>iOSでの短歌編集画面の投稿日時フォームの表示崩れを解消</li>
        <li>設定画面の文言を調整</li>
      </ul>
    </dd>
    <dt><time>2021/11/07</time></dt>
    <dd>
      <ul class="ml">
        <li>フォームとラベルのデザインを変更</li>
        <li>設定画面の文言を調整</li>
      </ul>
    </dd>
    <dt><time>2021/11/01</time></dt>
    <dd>
      <ul class="ml">
        <li>フォームとラベルが対応していない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2021/10/30</time></dt>
    <dd>
      <ul class="ml">
        <li>アイコン（いいねのハート、通知のベルなど）を変更</li>
        <li>いいねが重複し得る問題を解消</li>
        <li>投稿日時が空白で更新できてしまう問題を解消</li>
        <li>ログイン画面のリンクの文言を調整</li>
      </ul>
    </dd>
    <dt><time>2021/10/03</time></dt>
    <dd>
      <ul class="ml">
        <li>レイアウトを調整</li>
      </ul>
    </dd>
    <dt><time>2021/07/10</time></dt>
    <dd>
      <ul class="ml">
        <li>Utakataに寄付する機能を追加</li>
        <li>サイトのパフォーマンスを改善</li>
        <li>設定画面でタブが1行で表示されない問題を解消</li>
        <li>レイアウトを調整</li>
      </ul>
    </dd>
    <dt><time>2021/07/09</time></dt>
    <dd>
      <ul class="ml">
        <li>サイトのパフォーマンスを改善</li>
        <li>レイアウトを全体的に調整</li>
      </ul>
    </dd>
    <dt><time>2021/06/01</time></dt>
    <dd>
      <ul class="ml">
        <li>広告を廃止</li>
      </ul>
    </dd>
    <dt><time>2021/05/17</time></dt>
    <dd>
      <ul class="ml">
        <li>投稿制限のリセット時刻のタイムゾーンがズレている問題を解消</li>
      </ul>
    </dd>
    <dt><time>2021/05/16</time></dt>
    <dd>
      <ul class="ml">
        <li>1日10首の投稿制限を追加</li>
      </ul>
    </dd>
    <dt><time>2021/01/06</time></dt>
    <dd>
      <ul class="ml">
        <li>フォントの指定を変更</li>
      </ul>
    </dd>
    <dt><time>2021/01/02</time></dt>
    <dd>
      <ul class="ml">
        <li>「いいねした歌」が開けない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2020/12/28</time></dt>
    <dd>
      <ul class="ml">
        <li>いいねした歌人の一覧画面が開けない問題を解消</li>
        <li>レイアウトを調整</li>
      </ul>
    </dd>
    <dt><time>2020/12/16</time></dt>
    <dd>
      <ul class="ml">
        <li>レイアウトを調整</li>
      </ul>
    </dd>
    <dt><time>2020/12/15</time></dt>
    <dd>
      <ul class="ml">
        <li>広告の形式を変更</li>
      </ul>
    </dd>
    <dt><time>2020/12/10</time></dt>
    <dd>
      <ul class="ml">
        <li>広告を導入</li>
      </ul>
    </dd>
    <dt><time>2020/11/30</time></dt>
    <dd>
      <ul class="ml">
        <li>Twitter連携アカウント登録・ログイン時の不具合を解消</li>
        <li>すべてのメールアドレス記載ページでメールアプリを起動するように変更</li>
      </ul>
    </dd>
    <dt><time>2020/11/28</time></dt>
    <dd>
      <ul class="ml">
        <li>アカウント登録時のメールアドレス確認を廃止</li>
      </ul>
    </dd>
    <dt><time>2020/11/16</time></dt>
    <dd>
      <ul class="ml">
        <li>自己紹介の表示が分離される問題を解消</li>
      </ul>
    </dd>
    <dt><time>2020/11/09</time></dt>
    <dd>
      <ul class="ml">
        <li>「連絡先」でメールアプリを起動するように変更</li>
      </ul>
    </dd>
    <dt><time>2020/11/02</time></dt>
    <dd>
      <ul class="ml">
        <li>フォロー／フォロワーの切り替え表示を変更</li>
        <li>検索結果の切り替え表示を変更</li>
        <li>ユーザーページでいいねの表示が一部改行されてしまう問題を解消</li>
      </ul>
    </dd>
    <dt><time>2020/11/01</time></dt>
    <dd>
      <ul class="ml">
        <li>自己紹介の表示が崩れいている問題を解消</li>
        <li>横スクロールバーの位置が低い問題を解消</li>
      </ul>
    </dd>
    <dt><time>2020/10/24</time></dt>
    <dd>
      <ul class="ml">
        <li>歌人ページで横スクロールバーの位置が高すぎる問題を解消</li>
      </ul>
    </dd>
    <dt><time>2020/09/20</time></dt>
    <dd>
      <ul class="ml">
        <li><a href="https://fuyu.hatenablog.com/entry/2020/09/21/214449" target="_blank">AWS S3に保存したアイコン画像が第三者による攻撃ですべて削除されてしまう被害が発生</a>したため、S3の設定を変更</li>
      </ul>
    </dd>
    <dt><time>2020/08/14</time></dt>
    <dd>
      <ul class="ml">
        <li>一部の画面でページのタイトルの表示が崩れている問題を解消</li>
      </ul>
    </dd>
    <dt><time>2020/06/27</time></dt>
    <dd>
      <ul class="ml">
        <li>新しい歌／人気の歌の切り替え非選択時の色を変更</li>
      </ul>
    </dd>
    <dt><time>2020/06/21</time></dt>
    <dd>
      <ul class="ml">
        <li>新しい歌／人気の歌の切り替え表示を変更</li>
        <li>ページネーションの表示を調整</li>
      </ul>
    </dd>
    <dt><time>2020/06/20</time></dt>
    <dd>
      <ul class="ml">
        <li>歌人一覧で横スクロールバーの位置が高すぎる問題を解消</li>
        <li>ボタンの色を調整</li>
        <li>「サイトのご案内」の文言を調整</li>
        <li>設定画面のレイアウトを調整</li>
      </ul>
    </dd>
    <dt><time>2020/06/19</time></dt>
    <dd>
      <ul class="ml">
        <li>画面遷移時に通知アイコンの表示がちらつく問題を解消</li>
        <li>設定画面のレイアウトを調整</li>
      </ul>
    </dd>
    <dt><time>2020/06/09</time></dt>
    <dd>
      <ul class="ml">
        <li>投稿ボタンの色を緑に変更</li>
      </ul>
    </dd>
    <dt><time>2020/05/30</time></dt>
    <dd>
      <ul class="ml">
        <li>自己紹介にURLが含まれる場合リンクに変換するように変更</li>
        <li>自己紹介の改行を表示に反映するように変更</li>
      </ul>
    </dd>
    <dt><time>2020/02/29</time></dt>
    <dd>
      <ul class="ml">
        <li>「人気の歌」の表示ルールを改善</li>
      </ul>
    </dd>
    <dt><time>2020/01/05</time></dt>
    <dd>
      <ul class="ml">
        <li>ポップアップメッセージのスタイルを変更</li>
        <li>各種エラー処理を改善</li>
      </ul>
    </dd>
    <dt><time>2020/01/04</time></dt>
    <dd>
      <ul class="ml">
        <li>ドロップダウンメニューが開かない問題を解消</li>
        <li>サイトの表示速度を改善</li>
      </ul>
    </dd>
    <dt><time>2020/01/03</time></dt>
    <dd>
      <ul class="ml">
        <li>ファイル選択後ただちにアイコン画像が更新されるように変更</li>
      </ul>
    </dd>
    <dt><time>2019/11/10</time></dt>
    <dd>
      <ul class="ml">
        <li>クラウドファンディングの案内を削除</li>
        <li>iPhoneの「ホーム画面に追加」機能に関する注意書きを削除</li>
      </ul>
    </dd>
    <dt><time>2019/08/06</time></dt>
    <dd>
      <ul class="ml">
        <li>クラウドファンディングの案内をトップに表示</li>
      </ul>
    </dd>
    <dt><time>2019/07/14</time></dt>
    <dd>
      <ul class="ml">
        <li>「Utakataとは？」の文言を調整</li>
      </ul>
    </dd>
    <dt><time>2019/07/13</time></dt>
    <dd>
      <ul class="ml">
        <li>「人気の歌」の表示ルールを変更</li>
      </ul>
    </dd>
    <dt><time>2019/03/29</time></dt>
    <dd>
      <ul class="ml">
        <li>PCで一部のリンクがクリック不可になっていた問題を解消</li>
      </ul>
    </dd>
    <dt><time>2019/03/21</time></dt>
    <dd>
      <ul class="ml">
        <li>利用規約とプライバシーポリシーを作成</li>
        <li>「サイトのご案内」のレイアウトを調整</li>
      </ul>
    </dd>
    <dt><time>2019/03/16</time></dt>
    <dd>
      <ul class="ml">
        <li>画像サイズを最適化してサイトの表示速度を改善</li>
      </ul>
    </dd>
    <dt><time>2019/03/10</time></dt>
    <dd>
      <ul class="ml">
        <li>ページネーションの角丸のデザインを調整</li>
      </ul>
    </dd>
    <dt><time>2019/03/09</time></dt>
    <dd>
      <ul class="ml">
        <li>アイコンを角丸に変更</li>
        <li>レイアウトを全体的に調整</li>
      </ul>
    </dd>
    <dt><time>2019/03/03</time></dt>
    <dd>
      <ul class="ml">
        <li>サイトの表示速度を改善</li>
        <li>エラーページを日本語化</li>
      </ul>
    </dd>
    <dt><time>2019/02/28</time></dt>
    <dd>
      <ul class="ml">
        <li>ログイン画面の「ログイン情報を保存する」のチェックボックスをデフォルトでオンに変更</li>
      </ul>
    </dd>
    <dt><time>2019/02/25</time></dt>
    <dd>
      <ul class="ml">
        <li>iPhoneの「ホーム画面に追加」機能に関する注意書きを追加</li>
      </ul>
    </dd>
    <dt><time>2019/02/22</time></dt>
    <dd>
      <ul class="ml">
        <li>ページネーションを右側にも追加</li>
      </ul>
    </dd>
    <dt><time>2019/02/05</time></dt>
    <dd>
      <ul class="ml">
        <li>更新履歴のレイアウトを調整</li>
        <li>アカウント登録確認用メールの再送信機能を廃止し、確認用メールが届かない場合のヘルプへのリンクを追加</li>
        <li>短歌投稿画面でヘルプへのリンクが切れていた問題を解消</li>
      </ul>
    </dd>
    <dt><time>2019/01/08</time></dt>
    <dd>
      <ul class="ml">
        <li>更新履歴のレイアウトを調整</li>
      </ul>
    </dd>
    <dt><time>2019/01/05</time></dt>
    <dd>
      <ul class="ml">
        <li>編集画面での投稿日時の変更に対応</li>
        <li>投稿時刻を表示するように変更</li>
        <li>投稿日付の表示にUTC（協定世界時）が使われていた問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/12/23</time></dt>
    <dd>
      <ul class="ml">
        <li>URLの名称を一部変更</li>
      </ul>
    </dd>
    <dt><time>2018/12/04</time></dt>
    <dd>
      <ul class="ml">
        <li>ハンドルネームとプロフィールの字数制限を緩和</li>
      </ul>
    </dd>
    <dt><time>2018/11/26</time></dt>
    <dd>
      <ul class="ml">
        <li>縦中横に対応</li>
        <li>ルビボタンをその他のボタンと同様に投稿フォーム下に固定で表示するように変更</li>
        <li>検索フォームで何も文字をたずに検索した場合に、歌人の一覧が表示されるように変更</li>
        <li>短歌を投稿した後に「タイムライン」ではなく「新しい歌」を表示するように変更</li>
        <li>ドロップダンメニューの「マイページ」と「タイムライン」の並び順を交代</li>
        <li>投稿画面でドロップダウンメニューが隠れてしまう問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/11/25</time></dt>
    <dd>
      <ul class="ml">
        <li>投稿画面では右上の「投稿する」ボタンを非表示とするように変更</li>
      </ul>
    </dd>
    <dt><time>2018/11/24</time></dt>
    <dd>
      <ul class="ml">
        <li>投稿プレビューにルビタグのHTML属性が反映される問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/11/23</time></dt>
    <dd>
      <ul class="ml">
        <li>投稿画面で「ルビ」ボタンを押した際に挿入されるルビタグの表示を簡略化</li>
        <li>投稿フォームでスマホで予測変換した際にプレビーに反映されない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/11/21</time></dt>
    <dd>
      <ul class="ml">
        <li>短歌編集画面を開いた際に初期状態でプレビューが表示されない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/11/20</time></dt>
    <dd>
      <ul class="ml">
        <li>短歌の字数制限を緩和</li>
      </ul>
    </dd>
    <dt><time>2018/11/19</time></dt>
    <dd>
      <ul class="ml">
        <li>投稿フォームのプレビューで任意のHTMLタグ装飾ができてしまう問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/11/18</time></dt>
    <dd>
      <ul class="ml">
        <li>「全角スペース」ボタンを押した際にプレビューが更新されない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/11/07</time></dt>
    <dd>
      <ul class="ml">
        <li>短歌の字数制限を緩和</li>
      </ul>
    </dd>
    <dt><time>2018/11/03</time></dt>
    <dd>
      <ul class="ml">
        <li>ドロップダウンメニューから「新しい歌」と「人気の歌」を削除</li>
      </ul>
    </dd>
    <dt><time>2018/10/30</time></dt>
    <dd>
      <ul class="ml">
        <li>特殊記号を含む短歌をTwitterシェアできない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/10/15</time></dt>
    <dd>
      <ul class="ml">
        <li>通知機能の不具合を解消</li>
      </ul>
    </dd>
    <dt><time>2018/10/08</time></dt>
    <dd>
      <ul class="ml">
        <li>Twitterログイン機能を追加</li>
      </ul>
    </dd>
    <dt><time>2018/09/27</time></dt>
    <dd>
      <ul class="ml">
        <li>通知画面でいいねされた短歌をタップした場合に、いいねした人の一覧ページを表示するように変更</li>
      </ul>
    </dd>
    <dt><time>2018/09/13</time></dt>
    <dd>
      <ul class="ml">
        <li>Twitterシェア機能で"#"が表示されない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/08/12</time></dt>
    <dd>
      <ul class="ml">
        <li>SNSにトップページまたはユーザーページをシェアした際にサムネイル画像が表示されるように変更</li>
      </ul>
    </dd>
    <dt><time>2018/07/31</time></dt>
    <dd>
      <ul class="ml">
        <li>Twitterシェア機能でセミコロンが表示されない問題を解消</li>
      </ul>
    </dd>
    <dt><time>2018/07/13</time></dt>
    <dd>
      <ul class="ml">
        <li>投稿した短歌を編集する機能を追加</li>
        <li>ユーザーページに短歌の投稿数を確認できる表示を追加</li>
        <li>プロフィールの字数制限を緩和</li>
      </ul>
    </dd>
    <dt><time>2018/06/26</time></dt>
    <dd>
      <ul class="ml">
        <li>ルビ以外の装飾が一部できてしまう問題を解消</li>
        <li>「サイトのご案内」に情報を追加</li>
      </ul>
    </dd>
    <dt><time>2018/06/23</time></dt>
    <dd>
      <ul class="ml">
        <li>サービスリリース</li>
      </ul>
    </dd>
  </dl>
</div>
