<% @title = '歌人検索' %>

<div class = "vertical serif tanka-index mt-3">
  <h6>
    <%= search_word(@search)%>：<%= link_to '全体', tanka_search_path(search: @search), method: :get, class: 'tanka-link' %>｜<!--
    --><% if user_signed_in? %><!--
      --><%= link_to '自分', tanka_search_mine_path(search: @search), method: :get, class: 'tanka-link' %>｜<!--
    --><% end %><!--
    --><b>歌人</b>
  </h6>
  <% @users.each do |user| %>
    <p>
      <%= link_to (image_tag user.avatar.url(:medium), align: 'center'), posts_path(user_id: user.id), method: :get, class: 'tanka-link' %>&nbsp;
      <%= link_to user.name, posts_path(user_id: user.id), method: :get, class: 'tanka-link tanka-show' %>
    </p>
  <% end %>
  <%= paginate @users %>
</div>
