<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0095d9;">
    <%= link_to 'Utakata', root_path, :class => 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <% if user_signed_in? %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <%= link_to 'プロフィール', edit_user_registration_path, method: :get,:class => 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete,:class => 'nav-link' %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <%= link_to '新規登録', new_user_registration_path, :class => 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Login', new_user_session_path, :class => 'nav-link' %>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
</header>
