<header>
  <nav class="navbar navbar-expand-lg navbar-dark py-0">
    <%= link_to 'Utakata', posts_path, class: 'navbar-brand' %>
    <% if user_signed_in? %>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item form-inline me-2">
          <%= link_to content_tag(:i, '', class: 'bi bi-bell-fill'), notifications_user_path(id: current_user.id) %><span class="sm text-white top"><%= notifications_count %></span>
        </li>
        <li class="nav-item dropdown">
          <div class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag current_user.avatar.url(:medium), class: 'rounded' %>
          </div>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'マイページ', user_path(id: current_user), class: 'dropdown-item' %>
            <%= link_to 'タイムライン', timeline_user_path(id: current_user.id), class: 'dropdown-item' %>
            <%= link_to 'いいねした歌', likes_user_path(id: current_user.id), class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to '設定', edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to 'Logout', destroy_user_session_path, class: 'dropdown-item', data: { turbo_method: :delete } %>
            <div class="dropdown-divider"></div>
            <%= link_to 'ご案内', infos_path, class: 'dropdown-item' %>
            <%= link_to '寄付のお願い', donations_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <div class="px-2 py-2">
              <%= form_tag(search_posts_path) do %>
                <%= text_field_tag :search, '', autofocus: false, class: 'form-control form-control-sm', type: 'search', placeholder: '短歌 / 歌人を検索' %>
              <% end %>
            </div>
          </div>
        </li>
        <% if @title == '短歌投稿' %>
          <li class="nav-item form-inline invisible">
        <% else %>
          <li class="nav-item form-inline">
        <% end %>
            <%= link_to '投稿する', new_post_path, class: 'btn btn-sm btn-primary-reversed' %>
          </li>
      </ul>
    <% else %>
      <%= form_tag(search_posts_path) do %>
        <%= text_field_tag :search, '', autofocus: false, class: 'form-control form-control-sm form-width', type: 'search', placeholder: '短歌 / 歌人を検索' %>
      <% end %>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <%= link_to '登録', new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
        </li>
      </ul>
    <% end %>
  </nav>
</header>
