<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title(@title) %></title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://utakata.s3.amazonaws.com/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://utakata.s3.amazonaws.com/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://utakata.s3.amazonaws.com/icons/favicon-16x16.png">
    <link rel="manifest" href="https://utakata.s3.amazonaws.com/icons/site.webmanifest">
    <link rel="mask-icon" href="https://utakata.s3.amazonaws.com/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://utakata.s3.amazonaws.com/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="https://utakata.s3.amazonaws.com/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-title" content="Utakata">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="短歌,投稿">
    <meta name="description" content="<%= meta_description(@description) %>">
    <meta name="google-site-verification" content="HCpWKa0ogAnRFTAv-LJq2D2GLYzAQI48-_QQIwdn05o" />
    <% if current_page?(root_path) || current_page?(donations_path) %>
      <meta name="twitter:card" content="summary"/>
      <meta name="twitter:site" content="@utakatanka"/>
      <meta property="og:type" content="website"/>
      <meta property="og:title" content="<%= title(@title) %>"/>
      <meta property="og:description" content="<%= meta_description(@description) %>" />
      <meta property="og:image" content="https://utakata.s3.amazonaws.com/original/utakata.png" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:site_name" content="Utakata"/>
    <% elsif @image_url.present? %>
      <meta name="twitter:card" content="summary"/>
      <meta name="twitter:site" content="@utakatanka"/>
      <meta property="og:type" content="article"/>
      <meta property="og:title" content="<%= title(@title) %>"/>
      <meta property="og:description" content="<%= meta_description(@description) %>" />
      <meta property="og:image" content="<%= og_image_url(@image_url) %>" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:site_name" content="Utakata"/>
    <% end %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27037997-2" data-turbo-track="reload"></script>
    <% end %>
  </head>
  <body>
    <%= render 'layouts/toasts' %>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
