<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://utakata.s3.amazonaws.com/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://utakata.s3.amazonaws.com/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://utakata.s3.amazonaws.com/icons/favicon-16x16.png">
    <link rel="manifest" href="https://utakata.s3.amazonaws.com/icons/site.webmanifest">
    <link rel="mask-icon" href="https://utakata.s3.amazonaws.com/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://utakata.s3.amazonaws.com/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="https://utakata.s3.amazonaws.com/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-title" content="Utakata">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="短歌,投稿">
    <% if meta_description.present? %>
      <meta name="description" content="<%= meta_description %>">
    <% end %>
    <% if current_page?(root_path) %>
      <meta property="og:type" content="website"/>
      <meta property="og:title" content="<%= title %>"/>
      <meta property="og:description" content="<%= meta_description %>" />
      <meta property="og:image" content="https://utakata.s3.amazonaws.com/original/utakata.png" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:site_name" content="Utakata"/>
    <% end %>
    <% if og_image_url.present? %>
      <meta property="og:type" content="article"/>
      <meta property="og:title" content="<%= title %>"/>
      <meta property="og:description" content="<%= meta_description %>" />
      <meta property="og:image" content="<%= og_image_url %>" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:site_name" content="Utakata"/>
    <% end %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    
    <%= yield %>
    <% if notice.present? %>
      <script type= "text/javascript">
        toastr.success('<%= notice %>')
      </script>
    <% end %>

    <% if alert.present? %>
      <script type= "text/javascript">
        <% if alert.is_a?(Array) %>
          <% alert.each do |message| %>
　          toastr.warning('<%= message %>')
          <% end %>
        <% else %>
          toastr.warning('<%= alert %>')
        <% end %>
      </script>
    <% end %>

    <% if devise_controller? %>
      <%= render 'layouts/error_messages' %>
    <% end %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
